.app {
  background-color: #fff;
  padding: 50px 15px 15px 15px;
  border-radius: 10px;
  max-width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 200px auto 0px;
  box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
}

.header {
  width: 550px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
