.menu {
  width: 202px;
  border: 1px solid #bdbdbd;
  position: absolute;
  top: 24px;
  left: 0;
}

.menu__item {
  border-bottom: 1px solid #bdbdbd;
  cursor: pointer;
}

.menu__item:hover {
  background-color: #bdbdbd;
}

.menu__item:last-child {
  border-bottom: none;
}
